#container-main-dashboard {
  display: grid;
  grid-template-areas:
    'header header header'
    'metrics expense-list notifications'
    'metrics expense-list expense-form'
    'footer footer footer';
  grid-template-rows: 10vh 7vh auto 5vh;
  grid-template-columns: 15vw 62vw 23vw;
  height: 100vh;
}
#header-dashboard { grid-area: header; }
#section-notifications { grid-area: notifications; }
#section-metrics { grid-area: metrics; }
#section-expense-list { grid-area: expense-list; }
#section-expense-add { grid-area: expense-form; }
#footer-dashboard { grid-area: footer; }

#header-dashboard,
#footer-dashboard {
  background-color: #eef5f0;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
sub {
  color: #5b5b5b;
  font-size: 1rem;
}

#form-expense #amount {
  width: 95%;
}
#form-expense span.currency-symbol {  
  display: inline-block;
  font-weight: bold;
  font-size: 0.8rem;
  width: 5%;
}

.container-section {
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px;
}

#section-expense-list {
  background: #f8f8f8;
}
#grid-expense-list {
  margin-top: 20px;
}
.row-expense.header {
  font-weight: bold;
}
.row-expense {
  border-bottom: 1px solid #bebebe;
  padding: 5px;
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 10% 5%;
  align-items: center;
}

.container-metrics {
  display: flex;
  flex-direction: column;
}

.grid-metric {
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 5px 15px 5px 0;
  margin-bottom: 15px;
  display: grid;
  grid-template-areas:
    'health-indicator header header'
    'health-indicator budget-title budget-amount'
    'health-indicator actual-title actual-amount';
  grid-template-rows: repeat(3, 1.5rem);
  grid-template-columns: 10px 50px auto;
  column-gap: 10px;
  justify-items: stretch;
}
.grid-metric .header { 
  grid-area: header; 
  font-weight: bold;
}
.grid-metric .health-indicator { grid-area: health-indicator; }
.grid-metric .budget.title { grid-area: budget-title; }
.grid-metric .budget.amount { grid-area: budget-amount; }
.grid-metric .actual.title { grid-area: actual-title; }
.grid-metric .actual.amount { grid-area: actual-amount; }

.grid-metric .health-indicator.healthy {
  background: #6cae43;
}
.grid-metric .health-indicator.unhealthy {
  background: #bf0b0b;
}
.grid-metric .title {
  color: #5b5b5b;
  font-size: 0.9rem;
}
.grid-metric .amount {
  text-align: right;
}

button.tooltip-toggle {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 50%;
  font-family: cursive;
  font-size: 1.1rem;
}
.tooltip-data {
  display: none;
}
.tooltip-toggle:hover {
  background: #eef5f0;
}
.tooltip-toggle:hover + .tooltip-data {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 5px;
  display: block;
  padding: 8px;
  position: absolute;
  width: 250px;
  word-wrap: break-word;
  z-index: 1;
}