* {
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  padding: 0 20px;
}
h1 {
  font-size: 23px;
}
h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

button {
  background: #aecdb6;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 4px 12px;
}
button:hover {
  background: #bed7c4;
}

form {
  padding: 20px;
}

.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: block;
  margin-bottom: 2px;
}

.form-group .form-control {
  border: 1px solid #bebebe;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  width: 100%;
}

.info-secondary {
  color: #5b5b5b;
  font-size: 0.85rem;
}

.form-group.required .info-secondary::before {
  content: 'Required* ';
  font-style: italic;
  font-weight: bold;
}